<main class="px-3">
    <h1>本当に退会しますか？</h1>
    <p class="lead">退会すると、会員登録情報や</br>
    これまでの購入履歴が閲覧できなくなります。</br>
    退会する場合は、「退会する」をクリックしてください。</p></br>
    <a class="btn btn-outline-primary mx-3" href="my_page" role="button">退会しない</a>
    <%= link_to "退会する", withdrawal_path, method: :patch,"data-confirm" => "本当に退会しますか？",class: "btn btn-outline-danger" %>
  </main>