<h1>Public::Areas#index</h1>
<p>Find me in app/views/public/areas/index.html.erb</p>
<% @areas.each do |area| %>
      <tr>
        <td><%= area.id %></td>
        <td>

      </tr>
      <% end %>
      <%= area.id %>
