<main class="cover-container d-flex w-40 h-50 p-3 mx-auto flex-column">
    <h1>About</h1>
    <p class="lead">雑貨Lifeへようこそ</br>
  雑貨用品好きな方のためのサイトとなっております。</br>
  いろんな方のおすすめの雑貨屋や、こだわりのお部屋紹介を</br>
  覗くことができます。</br>
  あなたのおすすめやこだわりもぜひ教えてください。</p>
  </main>