 <div class="container-fluid">
  <div class="row">
    <div class="col no-gutters">
    <img src="/assets/about.jpg" width="140%" height="650">
    </div>
    <p class="lead">雑貨Lifeへようこそ</br>
  雑貨用品好きな方のためのサイトとなっております。</br>
  いろんな方のおすすめの雑貨屋や、</br>こだわりのお部屋紹介を</br>
  覗くことができます。</br>
  あなたのおすすめやこだわりもぜひ教えてください。</p>
  </div>
</div>