<div class = "top"><h3>ようこそ雑貨Lifeへ</h3></div>
<div class="sidebar">
<h4>エリア一覧</h4>
<table>
<th>
    <% @areas.each do |area| %>
      <tr>
        <%= link_to area.name, "/areas/#{area.id}", class: "text-secondary" %></br>
      </tr>
    <% end %>
</th>
</table>
</div>

<div class = "topmenu">
<div class="d-grid gap-2">
<a class="btn btn-secondary" href="/shops" type="submit">
  店舗一覧</br>

  <%= image_tag('shop.jpg', onmouseover: "this.src='#{asset_path('shop2.jpg')}'", onmouseout: "this.src='#{asset_path('shop.jpg')}'", class: 'image_top') %>

</a>

<a class="btn btn-secondary" href="/rooms" type="submit">
  お部屋紹介</br>
  <%= image_tag('room.jpg', onmouseover: "this.src='#{asset_path('room2.jpg')}'", onmouseout: "this.src='#{asset_path('room.jpg')}'", class: 'image_top') %>

</a>
</div></div>
