<h4><%= image_tag "lamp.jpg", size: '80x80' %>評価一覧</h4>
<a>＊削除は<%= link_to "マイページ", my_page_path %>で出来ます。</a>

<table class="table">

    <tr>
      <th>雑貨屋名</th>
      <th>評価</th>
    </tr>

<% @shop_comments.each do |t| %>
<tr>
    <td><%= t.post_shop.name %>
    </td>
    <td>
        <div class="rate">
        <% if t.rate? %>
        <% for i in 1..t.rate do %>
        ★
        <% end %>
        <% end %></td>
</tr>
</div>

<% end %>

