<h4><%= image_tag "lamp.jpg", size: '80x80' %>評価一覧</h4>
<% if customer_signed_in? %>
<a>＊削除は<%= link_to "マイページ", my_page_path %>で出来ます。</a>
<% else %>
<% end %>

<table class="table">

    <tr>
      <th>雑貨屋名</th>
      <th>評価</th>
      <th>コメント</th>
    </tr>

<% @shop_comments.each do |t| %>
<tr>
    <td><%= t.post_shop.name %>
    </td>
    <td>
        <div class="rate">
        <% if t.rate? %>
        <% for i in 1..t.rate do %>
        ★
        <% end %>
        <% end %></td>
    <td><%= t.comment %></td>
</tr>

</div>

<% end %>

