
<div>
<% @shop_comments.each do |t| %>
<%= t.post_shop.name %>
<div class="rate">
    <% if t.rate? %>
    <% for i in 1..t.rate do %>
    ★
    <% end %>
    <% end %>
<%= link_to "削除", destroy_shop_comment_path(t.id), method: :delete %>
</div>

<% end %>