<h1>Public::ShopComments#index</h1>
<p>Find me in app/views/public/shop_comments/index.html.erb</p>
<div>
<% @shop_comments.each do |t| %>
<div class="star">
    <% if t.star? %>
    <% for i in 1..t.sar do %>
    ★
    <% end %>
    <% end %>
    <% shop_comment.star %>
</div>

<% end %>
