
<%= form_with model: @shop_comment, url: shop_comments_path,local: true do |f| %>
<!--<= form_for(@shop_comment, :url=> {controller:'shop_comments', action:'create'})do |f| %>-->
<div class= "star-field">
    <input id="star5" type="radio" name="shop_comment[star]" value="5" />
    <label for="star5">★</label>
    <input id="star4" type="radio"  name="shop_comment[star]" value="4" />
    <label for="star4">★</label>
    <input id="star3" type="radio"  name="shop_comment[star]" value="3" />
    <label for="star3">★</label>
    <input id="star2" type="radio"  name="shop_comment[star]" value="2" />
    <label for="star2">★</label>
    <input id="star1" type="radio"  name="shop_comment[star]" value="1" />
    <label for="star1">★</label>

</div>

<%= f.submit "評価する" %>
<% end %>