@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



// 管理者画面

.title {
  display: inline-block;
}

.text{
  text-align: left;
  margin-left: 150px;
}






.h4{
  text-align: center;
}

// footer{
//   font-family: "g_pencilkaisho_free";
// }




// 会員画面


// トップ画面
.top{
  margin-bottom:40px;
}

.topmenu{

  text-align:center;
  width:900px;
  display: inline-block;
}

.sidebar{
  width:180px;
  display: inline-block;

}

// aboutページ

//aboutページ用ヘッダー
header {
  position: absolute;
  z-index: 999; //背景と被るようにする
}

.no-gutters {
  margin:0;
  padding:0;

}


.no-gutters > .col,
.no-gutters > [class*="col-"] {
  margin:0;
  padding:0;

}

p{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:30px;


}


// お気に入り
.star-field{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}
.star-field input[type='radio']{
    display: none;
}
.star-field label{
    font-size: 50px;
    padding-right: 10px;
    color: #ccc;
    font-size: 30px;
    cursor: pointer;
}
.star-field label:hover,
.star-field label:hover ~ label,
.star-field input[type='radio']:checked ~ label{
    color: rgb(255, 145, 0);
}

// 一覧表示ページ
.star{
  font-size: 50px;
  color: rgb(255, 145, 0);
}

