@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.title {
//   margin-top: 100px;
  display: inline-block;
}

.logo {
    text-align: left;
    display: inline-block;
}

body {
  // font-family: 'Yu Gothic UI',sans-serif;
    // font-family: "g_pencilkaisho_free";
    // src: url('../javascript/fonts/azukiB.ttf');
    background-color:#f0fff0;
}

.h4{
  text-align: center;
}

footer{
  font-family: "g_pencilkaisho_free";
}

// .card-body_hover {
// background-color: #ee6354;

// }

// .card-body_hover:hover {
// background-color: #37beb0;
// }