@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.title {
//   margin-top: 100px;
  display: inline-block;
}

.logo {
    text-align: left;
    display: inline-block;
}